body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 3px;
}

.item {
  padding: 10px;
  text-align: center;
}

/* item1은 1열에서 5개열을 합쳐서 표시된다. */
.item1 { grid-column:  1 / span 5;}  /* (시작셀 / 합치는셀의 수) */
.item2 { grid-row:  2 / span 4;}
.item6 { grid-row:  2 / span 2; grid-column: span 3;}
.item10 { grid-column:  1 / span 5;}

.item1 {background-color: rgb(255, 16, 67);}
.item2 {background-color: aqua;}
.item3 {background-color: blue;}
.item4 {background-color: blueviolet;}
.item5 {background-color: brown;}
.item6 {background-color: burlywood;}
.item7 {background-color: cadetblue;}
.item8 {background-color: chartreuse;}
.item9 {background-color: chocolate;}
.item10 {background-color: cornflowerblue;}

